---
layout: default
title: 友情链接 - LYH·Blog
page-title: friendLinks
home-title: 我的链接和朋友
description:
---

{% include header.html %}
{% include boot.html %}
<main>
    {% include title.html %}
    
    <ul class="ex-list">
        <li>
          <span class="tag-name" >
            <a href="https://blog.csdn.net/qq_43472877"> |&emsp;我的CSDN&emsp;| </a><br>
            <a href="https://github.com/AugustLYH1998">|&emsp;我的GitHub&emsp;|</a>
        </span>
        </li>
        <li  class="fadeInUp animated">
          {% for friend in site.friends %}
            <span class="tag-name" >
                <a href="{{ friend[1] }}">「&emsp;{{ friend[0] }}&emsp;」</a>
            </span>
            </br>
          {% endfor %}
        </li>
    </ul>
</main>
{% include footer.html %}
